body {
    background-color: 	#212121;
}

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.center {
    text-align: center;
}

.parent, .Mentor, .Supporter {
    padding: 20px;
    color:  black;
    border: 5px solid black;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    margin-left: auto;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
